body{
    background-color: black;
    text-align: center;
}
#container{
    text-align:center;
    position: relative;
    margin: 0 auto;
    border: dashed;
    border-width:2px;
    border-color:#00ffaa;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.title{
    margin:auto;
    color: white;
    font-family: 'FreeSerif';
    letter-spacing: 0.5px;
}